geopy 
timezonefinder 
pytz
transformers 
torch 
langchain 
langchain-core 
pydantic
dotenv
langchain-groq
mcp
langchain-community 
langchain-huggingface  
pypdf 
faiss-cpu 
python-dotenv 
sentence-transformers
